__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

.venv/
.venv-*/

build/
dist/
!dist/.gitkeep

release-assets/**/*.app
release-assets/**/*.zip
release-assets/**/*.dmg

!release-assets/README.md
!release-assets/**/*.md
!release-assets/**/*.txt
!release-assets/**/*.sha256
